<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Login com Facebook</title>
  <link rel="stylesheet" href="/views/style.css" />
</head>
<body>

  <div class="container">
    <h1>Login com Facebook</h1>

    <button id="loginBtn">
      Entrar com Facebook
    </button>

    <div id="result" class="hidden">
      <h2>Dados retornados</h2>

      <label>Token EAA:</label>
      <textarea id="token" readonly></textarea>

      <label>Instagram Business ID:</label>
      <input type="text" id="igId" readonly />
    </div>
  </div>

  <script src="/views/java.js"></script>
</body>
</html>
